<launch>
  <!-- map -->
  <arg name="map_file" default="$(find scout_mapper)/map/cartographer_edit.yaml"/>
  <node name="map" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- rviz -->
  <arg name="rviz_file" default="$(find scout_path)/rviz/path.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" required="true"
    args="-d $(arg rviz_file)" />

  <!-- odometry -->
  <param name="/use_sim_time" value="false" />
  <node pkg="odometry" type="scout_odom.py" name="scout_odom" output="screen" />

  <!-- tf -->
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0.5 0 0 0 base_link velodyne 100" output="screen" />
  
  <!-- move base -->
  <!-- <include file="$(find scout_mini_2dnav)/launch/move_base_only.launch"/> -->

  <!-- amcl -->
  <include file="$(find scout_mini_2dnav)/launch/amcl.launch"/>

</launch>