[submodule "geometry2"]
	path = geometry2
	url = https://github.com/ros/geometry2.git
	branch = melodic-devel
[submodule "hector_slam"]
	path = hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
	branch = melodic-devel
[submodule "navigation"]
	path = navigation
	url = https://github.com/ros-planning/navigation.git
	branch = melodic-devel
[submodule "navigation_msgs"]
	path = navigation_msgs
	url = https://github.com/ros-planning/navigation_msgs.git
