<launch>
	<!-- bridge -->
    <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> -->
	<node pkg="av_alg_mgko" type="tf_.py" name="gps_parser"  />
	<node pkg="av_alg_mgko" type="global_path_planning.py" name="global_path_planning"  />
	<node pkg="av_alg_mgko" type="local_path_planning.py" name="local_path_planning"  />
	<node pkg="av_alg_mgko" type="follow_the_carrot.py" name="follow_the_carrot"  />
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find av_alg_mgko)/rviz/test.rviz" />

</launch>
