<launch>

<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

    <!--Run move_base_seqs node-->
        <node pkg="scout_navigation" type="waypoint.py" name="waypoint" output="screen">
        
            <!-- Load Sequence of Points (Cartesian Coordinates wrt "map" RF, in meters) -->
            <!-- p_seq = [x1,y1,z1,x2,y2,z2,...xn,yn,zn]  -->
            <rosparam param="p_seq">[
            31.77, -3.99, 0.0,
            36.5, -0.06, 0.0,
            36.2, 7.26, 0.0,
            30.5, 0.85, 0.0
            ]</rosparam>
            <!-- Load Sequence of Desired Yaw Angles (no rotations around x and y axes) in degrees-->
            <!-- yea_seq = [yaw1,yaw2,yaw3] -->
            <rosparam param="quat_seq">[
            0.0, 0.0, -0.36, 0.93,
            0.0, 0.0, 0.715, 0.698,
            0.0, 0.0, -0.709, 0.704,
            0.0, 0.0, 0.715, 0.699
            ]</rosparam>

        </node>

</launch>