<?xml version="1.0"?>
<launch>
    <node pkg="carsim_gazebo" type="teleop.py" name="teleop_twist_keyboard">
        <remap from="carsim/cmd_vel" to="cmd_vel"/>
    </node>
    <node pkg="my_car" type="front_distance.py" name="front_distance"/>
    <node pkg="my_car" type="key.py" name="key"/>
</launch>